.header{
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 9px;
     width: 100%;
}

.underline{
     margin: auto;
     width: 25%;
     height: 6px;
     background: red;
     border-radius: 9px;
}