<div class="chat">
     <h1 class="chat-title">Chat con WebSocket</h1>
     <div class="messages-box">
          <div id="messageLogs"></div>
     </div>
     <div class="chat-style">
          <input id="chatBox" class="chat-box" type="text" placeholder="Enviar un mensaje">
     </div>
</div>